/* start variables  */

:root {
    --main-color: #10cab7;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

/* end variables  */
/* start glopal ruls  */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    cursor: context-menu;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
a::selection,
li::selection,
div::selection {
    background-color: var(--main-color);
    color: #2c4755;
}


::selection {
    background-color: var(--main-color);
    color: #2c4755;
}


/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

/* small */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start components */
.specil-heading {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    width: 100%;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}

.specil-heading::selection {
    background-color: var(--main-color);
    color: #2c4755;
}

@media (max-width: 767px) {
    .specil-heading {
        font-size: 60px;
    }

    .specil-heading+p {
        margin-top: -20px !important;
    }
}

.specil-heading+p {
    margin: -33px 0 0;
    text-align: center;
    color: #575757;
}

.specil-heading+p::selection {
    background-color: var(--main-color);
    color: #2c4755;
}

/* end components */

/* end global ruls  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 20px;
}

.header .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}

.header .logo {
    width: 45px;
    height: 18px;

}

.header .links {
    position: relative;
}

.header .links:hover ul {
    display: initial;
}

.header .links:hover .icon :nth-child(2) {
    width: 100%;
}

.header .links:hover .icon {
    opacity: 60%;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;

}

.header .icon span {
    margin-bottom: 5px;
    background-color: #222;
}

.header .icon :first-child {
    width: 100%;
    height: 1.5px;
}

.header .icon :nth-child(2) {
    width: 60%;
    height: 1.5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .icon :last-child {
    width: 100%;
    height: 1.3px;

}

.header .links ul {
    position: absolute;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 25px;
    padding: 35px;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 2px #bfb8b8;
    width: 90px;
    transition: 1s;
    display: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    z-index: 1;
    background-color: #2c4755;
    width: 300px;
    height: 600px;
}

.header .links ul::before {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2c4755 transparent;
    right: 5px;
    top: -10px;
}

.header .links ul p {
    color: #637988;
}

.header .links ul li a {
    text-decoration: none;
    /* color: #737373; */
    font-size: 19px;
    margin-right: 10px;
    /* border-bottom: 1px solid #eee; */
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    color: white;
    line-height: 1.4;
}

.header .links ul li a:hover {
    color: var(--main-color);
    /* font-size: 20px; */
    border: none;
}

/* start landing section  */
.landing {
    background-image: url(../imges/pexels-pixabay-355747.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0 0 35px 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.landing .intro-text h1::selection {
    background-color: var(--main-color);
    color: #2c4755;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: #2c4755;
}

.landing .intro-text p::selection {
    background-color: var(--main-color);
    color: #2c4755;
}

/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    display: flex;
    justify-content: center;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 43px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;

}

.features .feat p {
    font-size: 15px;
    line-height: 2;
    color: #575757;
}

/* end features */
/* start services */
.services {
    display: flex;
    justify-content: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 74px;
    font-size: 35px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv h3 {
    margin: -10px 0 0;
    font-weight: 800;
}

.services .services-content .serv p {
    color: #4d4c4c;
    font-size: 14.5px;
    line-height: 1.8em;
}

.services .services-content .colim {
    margin-right: 80px;
    position: relative;
    left: -74px;
}

@media (max-width: 767px) {
    .services .services-content .colim {
        display: none;
    }

}

.services .services-content .image img {
    width: 257px;
    height: 329px;
    margin-top: -30px;


}

.services .services-content .image {
    position: relative;
}

.services .services-content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    background-color: var(--main-color);
    z-index: -1;
}

/* end services */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
    justify-items: center;

}

.portfolio .portfolio-content .card {
    background-color: white;
    max-width: 275px;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #4d4c4c;
    font-size: 14.5px;
    line-height: 1.8em;
    margin-bottom: 0;
}

/* end portfolio */
/* start apout */
.apout {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.apout .apout-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

@media (max-width: 991px) {
    .apout-content {
        flex-direction: column;
        text-align: center;
        height: calc(100% + 50px);

    }

    .apout .apout-content .text {
        margin-top: 60px;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .apout .apout-content .text hr {
        margin-left: auto !important;
    }


}

.apout .apout-content .image {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.apout .apout-content .image::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 280px;
    background-color: #ebeced;
    top: -40px;
    left: -10px;
    z-index: -1;
}

.apout .apout-content .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 180px;
    border-left: 50px solid var(--main-color);
    border-bottom: 50px solid var(--main-color);
    top: -58px;
    right: -130px;
    z-index: -1;
}

.apout .apout-content .text {
    flex-basis: calc(100% - 500px);
    padding-left: 90px;
    padding-right: 90px;
    font-size: 14.5px;
    line-height: 1.8em;
}

.apout .apout-content .text :first-child {
    font-weight: bold;
    margin-top: 0;
}

.apout .apout-content .text hr {
    width: 60%;
    margin-left: 0;
    border: 2px solid var(--main-color);
    border-top: none;
    border-left: none;
}

.apout .apout-content .text :last-child {
    color: #575757;
    font-size: 13px;
}

/* end apout */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    margin-bottom: 10px;
}

.contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .icon {
    margin-top: 15px;

}

.contact .info .icon a:nth-of-type(1):hover i {
    color: red;
}

.contact .info .icon a:nth-of-type(2):hover i {
    color: rgb(0, 68, 255);
}

.contact .info .icon a:nth-of-type(3):hover i {
    color: rgb(0, 135, 189);
}



.contact .info .icon a {
    text-decoration: none;
}

.contact .info .icon i:first-of-type {
    margin-left: 18px;
    color: #2c4755;
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

/* start contact */
/* start footer */
.footer {
    background-color: #2c4755;
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;

}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* end footer */